<!DOCTYPE html>
{% autoescape true %}
<html>
  <head>
    <link rel="stylesheet" type="text/css" href="/static/main.css">
    <title>Motivationization Ask Sally Page</title>
    <script src="/static/main.js"></script>
  </head>

  <body>
  <div class="pages">
    <img class='slideshow' alt='Motivationization' src='/images/balloonPic.jpg' height='600' width='1000' border='0' />
    <h1>
      Motivationization
    </h1>
    <h2>
      Ask Sally
    </h2>
    <div class="nav">
    <ul>
      <li style="background-color:#DD5555"><a href="/">Home</a></li>
      <li style="background-color:#EEAA55"><a href="/asksally">Sally</a></li>
      <li style="background-color:#EEDD55"><a href="/motivation">Motivation</a></li>
        <ul>
          <li><a href="/motivation#quotes">Quotes of the Day</a></li>
          <li><a href="/motivation#gif">Motivational Gifs</a></li>
          <li><a href="motivation#vid">Inspirational Videos</a></li>
        </ul>
      <li style="background-color:#55DD55"><a href="/laughs">Laughs</a></li>
        <ul>
          <li><a href="/laughs#gif">Funny Gifs</a></li>
          <li><a href="/laughs#game">Entertaining Game</a></li>
          <li><a href="/laughs#vid">Hilarious Videos</a></li>
        </ul>
      <li style="background-color:#55D"><a href="/profile">Profile</a></li>
        <ul>
          <li><a href="#contact">Sign Out</a></li>
        </ul>
    </ul>
    </div>
    <br>
    <hr>
    <form action="/asksally" method="post">
      <div>Name: <br><input name="title"></input></div>
      <div>Question: <br><textarea name="content" rows="3" cols="60"></textarea></div>

      <div><input type="submit" value="Add Post"></div>
    </form>

    <hr>

    <h2>Previously Asked Questions</h2>
    <hr>
    {% for post in posts %}
      <h3>Name: {{ post.title }}</h3>
      <h5>{{ post.date.strftime("%d/%m/%y") }}</h5>
      <p>{{ post.content }}</p>
      {% for comment_key in post.comment_keys %}
        <h3>Commenter: {{ comment_key.get().name }}</h3>
        <!--<h5> comment_key.datetime.strftime("%d/%m/%y") }}</h5>-->
        <p>{{ comment_key.get().comment }}</p>
      {% endfor %}
      <!-- This form is to create a new comment, it needs to send to '/comment using the post method' -->
      <form action="/comment" method="post">
        <!-- It needs to take inputs for the commenters name and comment -->
        <p>Name: <br><input type="text" name="name2"/></p>
        <p>Comment: <br><textarea name="comment" rows="3" cols="60"></textarea></p>
        <!-- This next line is a sneaky way to make sure we know what post we are talking about -->
        <div><input type="hidden" name="post_url_key" value="{{ post.key.urlsafe() }}">
        <div><input type="submit" value="Leave Comment"></div>
      </form>
      <hr>
    {% endfor %}
    <br>
    <a href="/">Home</a>
    <br>
    <footer style="background-color:#EEAA55">
      <a style="align:left" href="{{signout}}">Sign Out&emsp;&emsp;</a>
      <a href="https://twitter.com/intent/tweet?url=http://www.motivation.com/&amp;text=Motivation."><img src = "http://www.goodwillsacto.org/wp-content/uploads/2010/09/TwitterIcon_small1.png"></a>
      <a href="https://plus.google.com/share?url=http://www.motivation.com/"><img src = "http://pictures.dealer.com/l/larichesubarusoa/1414/755d4e96d57951d987ead8a99dda4661x.jpg"></a>
      <a href="http://www.linkedin.com/shareArticle?url=http://www.motivation.com/"><img src = "http://static1.squarespace.com/static/541c4101e4b0462bd0eee674/t/544e3272e4b0529748d72c43/1414410866668/linkedin-icon(small).png"></a>
      <a href="https://www.facebook.com/sharer/sharer.php?u=http://www.motivation.com/"><img src = "http://www.chas.co.uk/Images/Facebook_icon_small.gif"></a>
    </footer>
  </div>
  </body>
</html>
{% endautoescape %}
