<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" type="text/css" href="/static/main.css">
    <title>Motivationization Laughs Page</title>
    <script src="/static/main.js"></script>
  </head>

  <body>
    <h1>Laughs</h1>
    <br>
    <a name="gif"></a>
    <img src = "{{results}}">
    <br>
    <a name="game"></a>
    <embed  src="http://dk.filmomania.pl/j/Unfair_Mario62787.swf" quality="high" pluginspage="http://www.adobe.com/shockwave/download/download.cgi?P1_Prod_Version=ShockwaveFlash" type="application/x-shockwave-flash" width="650" height="540"></embed><BR /><a href="http://www.unfair-mario.com" title="unfair mario" target="_blank"><strong>Unfair Mario</strong></a>
    <br>
    <a name="vid"></a>

  </body>
</html>
