<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" type="text/css" href="/static/main.css">
    <title>Motivationization Home Page</title>
    <script src="/static/main.js"></script>
  </head>

  <body>
    <h1>
      Courtney Stover
    </h1>
    <h2>
      Welcome {{user}}
    </h2>
    <ul>
      <li><a href="/">Home</a></li>
      <li><a href="/asksally">Sally</a></li>
      <li><a href="/motivation">Motivation</a></li>
        <ul>
          <li><a href="/mquotes">Quotes of the Day</a></li>
          <li><a href="/mgifs">Motivational Gifs</a></li>
          <li><a href="mvids">Inspirational Videos</a></li>
        </ul>
      <li><a href="/laughs">Laughs</a></li>
        <ul>
          <li><a href="/lgifs">Funny Gifs</a></li>
          <li><a href="/lgames">Entertaining Game</a></li>
          <li><a href="/lvids">Hilarious Videos</a></li>
        </ul>
      <li><a href="/profile">Profile</a></li>
        <ul>
          <li><a href="#contact">Sign Out</a></li>
        </ul>
    </ul>

  </body>
</html>
