<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" type="text/css" href="/static/main.css">
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
    <link rel="icon" href="/favicon.ico" type="image/x-icon">
    <title>Motivationization Home Page</title>
    <script src="/static/main.js"></script>
  </head>

  <body>
  <div class="pages">
    <img class='slideshow' alt='Motivationization' src='/images/fun6.jpg' height='600' width='1000' border='0' />
    <h1>
      motivationization
    </h1>
    <h2>
      About Us
    </h2>
    <div class="nav">
      <ul>
        <li style="background-color:#DD5555"><a href="/">Home</a></li>
        <li style="background-color:#EEAA55"><a href="/asksally">Sally</a></li>
        <li style="background-color:#EEDD55"><a href="/motivation">Motivation</a></li>
        <li style="background-color:#55DD55"><a href="/laughs">Laughs</a></li>
        <li style="background-color:#55D"><a href="/profile">Profile</a></li>
      </ul>
    </div>
<br><br>
      <h3 style="color:#B84DDB">Google's Computer Science Summer Institute</h3>
      <hr class="about">
      <p class="about">
      Google's Computer Science Summer Institute (CSSI) is a three-week introduction to
      computer science for graduating high school seniors with a passion for technology —
      especially students from historically underrepresented groups in the field.<br>
      <br><span>Program Goals:</span><br>
      <ul class="about">
        <li>To provide students with an interest in computer science an opportunity to learn what their future career might hold and inspire them to complete their work towards a technical degree.</li>
        <li>To help students develop their technical skills, build confidence in their abilities and better prepare them for studying computer science or closely related fields.</li>
        <li>To help participants begin building important personal networks and friendships with a diverse group of students who share their passion for technology and computer science.</li>
        <li>To give students an inside look at Google's unique environment, community and culture.</li>
      </ul>
      </p>
      <hr class="aboutbot">
      <h3 style="color:#B84DDB">The Programmers</h3>
      <hr class="about">
      <div id="cont">
        <table class="aa">
            <tr>
                <td>
                    <div id="left">
                        <img class="about" src="/images/courtney.gif"><br><br>
                        <p><span>Courtney Stover</span></p>
                        </div>
                    </td>
                <td>
                    <div id="center">
                        <img class="about" src="/images/glodie.gif"><br><br>
                        <p><span>Glodie Mujinga Mulunda</span></p>
                        </div>
                 </td>
                <td>
                    <div id="right">
                      <img class="about" src="/images/jordan.gif"><br><br>
                      <p><span>Jordan Proby</span></p>
                        </div>
                </td>
            </tr>
        </table>
      </div>
      <hr class="aboutbot">
      <h3 style="color:#B84DDB">Credits</h3>
      <hr class="about">
      <p class="credit"><span>About Us Page Picture:</span> http://www.hdwallpapers.net/images/hot-air-balloon-over-lavender-field-wallpaper-for-1920x1080-63-449.jpg
        <br>
        <span>Ask Sally Page Picture:</span> http://7-themes.com/6876385-hot-air-balloon-wallpaper-hd.html
        <br>
        <span>Motivation Page Picture:</span> http://www.hdwallpapersos.com/wp-content/uploads/2014/07/2657-colorful-balloon-in-the-sky-1920x1080-nature-wallpaper.jpg
        <br>
        <span>Laughs Page Picture:</span> http://shotphotos.com/wp-content/uploads/2014/04/Hot-Air-Balloon-Over-Green-Landscape.jpg
        <br>
        <span>Profile Page Picture:</span> http://netsuccesssystems.com/wp-content/uploads/2015/04/hot-air-balloon.jpg
        <br>
        <span>Motivation and Laughs Gifs:</span> http://giphy.com/search/gify
        <br>
      </p>
    <br>
    <footer style="background-color:#B84DDB">
      <a href="/aboutus">About Us&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;</a>
      <a href="{{signout}}">Sign Out&emsp;&emsp;</a>
      <a href="https://twitter.com/intent/tweet?url=http://motivationization.appspot.com/;text=Motivation."><img src = "http://www.goodwillsacto.org/wp-content/uploads/2010/09/TwitterIcon_small1.png"></a>
      <a href="https://plus.google.com/share?url=http://motivationization.appspot.com/"><img src = "http://pictures.dealer.com/l/larichesubarusoa/1414/755d4e96d57951d987ead8a99dda4661x.jpg"></a>
      <a href="http://www.linkedin.com/shareArticle?url=http://motivationization.appspot.com/"><img src = "http://static1.squarespace.com/static/541c4101e4b0462bd0eee674/t/544e3272e4b0529748d72c43/1414410866668/linkedin-icon(small).png"></a>
      <a href="https://www.facebook.com/sharer/sharer.php?u=http://motivationization.appspot.com/"><img src = "http://www.chas.co.uk/Images/Facebook_icon_small.gif"></a>
    </footer>
  </div>
  </body>
</html>
