@import url(http://fonts.googleapis.com/css?family=Hind);

html{
  background-size: 1000px;
  background-color: #CCC;
  color: #000;
  font-family: 'Hind', sans-serif;
  /*background-attachment: fixed;*/
}

h1{
  font-size: 650%;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: #333;
  text-transform: uppercase;
  position: absolute;
  top: 200px;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 0px;
  padding-bottom: 0px;
  text-shadow:
    5px 5px 0 #555,
    5px 5px 0 #555,
    5px 5px 0 #555,
    5px 5px 0 #555;
  background-color: white;
  background:black;
  background:rgba(0,0,0,0.4);
  filter: blur(5px);
}

h2{
  font-size: 325%;
  -webkit-text-stroke-width: .5px;
  -webkit-text-stroke-color: #333;
  position: absolute;
  top: 485px;
  right: 0;
  text-shadow:
    2.5px 2.5px 0 #555,
    2.5px 2.5px 0 #555,
    2.5px 2.5px 0 #555,
    2.5px 2.5px 0 #555;
}

h3{
  position: relative;
  font-size: 250%;
  text-shadow:
    1px 1px 0 #555,
    1px 1px 0 #555,
    1px 1px 0 #555,
    1px 1px 0 #555;
}

h4{
  font-size: 200%;
  color: #EEAA55;
  text-shadow:
    1px 1px 0 #555,
    1px 1px 0 #555,
    1px 1px 0 #555,
    1px 1px 0 #555;
}

h5{
  font-size: 125%;
  color: #EEAA55;
  margin-top: -50px;
  text-shadow:
    1px 1px 0 #555,
    1px 1px 0 #555,
    1px 1px 0 #555,
    1px 1px 0 #555;
}

/* Single-direction drop shadow */

hr.sally{
    height: 50px;
    border: 0;
    box-shadow: inset 0px 50px 50px -50px rgba(238, 170, 85, 0.5);
    color: #EEAA55;
    margin-bottom: -50px;
}

hr.motivate{
    height: 50px;
    border: 0;
    box-shadow: inset 0px 50px 50px -50px rgba(238, 221, 85, 0.5);
    color: #EEDD55;
    margin-top: -25px;
}

hr.laugh{
    height: 50px;
    border: 0;
    box-shadow: inset 0px 50px 50px -50px rgba(85, 221, 85, 0.5);
    color: #EEDD55;
    margin-top: -25px;
}

hr.feelings{
    height: 50px;
    border: 0;
    box-shadow: inset 0px 50px 50px -50px rgba(85, 85, 221, 0.5);
    color: #55D;
    margin-top: -25px;
    margin-bottom: -15px;
}

hr.profile{
    height: 50px;
    border: 0;
    box-shadow: inset 0px 50px 50px -50px rgba(85, 85, 221, 0.5);
    color: #55D;
    margin-top: -20px;
    margin-bottom: -25px;
}

hr.about{
    height: 50px;
    border: 0;
    box-shadow: inset 0px 50px 50px -50px rgba(184, 77, 219, 0.5);
    color: #B84DDB;
    margin-top: -20px;
    margin-bottom: 10px;
}

hr.aboutbot{
    height: 50px;
    border: 0;
    box-shadow: inset 0px 50px 50px -50px rgba(184, 77, 219, 0.5);
    color: #B84DDB;
    margin-top: 0px;
    margin-bottom: -50px;
}

hr.profiletop{
    height: 50px;
    border: 0;
    box-shadow: inset 0px 50px 50px -50px rgba(85, 85, 221, 0.5);
    color: #55D;
    margin-top: 0px;
}

hr.laughbot{
    height: 50px;
    border: 0;
    box-shadow: inset 0px 50px 50px -50px rgba(85, 221, 85, 0.5);
    color: #EEDD55;
    margin-top: -25px;
    margin-bottom: -50px;
}

hr.motivatebot{
    height: 50px;
    border: 0;
    box-shadow: inset 0px 50px 50px -50px rgba(238, 221, 85, 0.5);
    color: #EEDD55;
    margin-top: -25px;
    margin-bottom: -50px;
}

button.motivate{
  background-color: #EEE;
  border-width: medium;
  border-style: ridge;
  border-color: #EEDD55;
  font-size: 250%;
  text-shadow:
    1px 1px 0 #555,
    1px 1px 0 #555,
    1px 1px 0 #555,
    1px 1px 0 #555;
  color:#EEDD55;
}

button.laugh{
  background-color: #EEE;
  border-width: medium;
  border-style: ridge;
  border-color: #55DD55;
  font-size: 250%;
  text-shadow:
    1px 1px 0 #555,
    1px 1px 0 #555,
    1px 1px 0 #555,
    1px 1px 0 #555;
  color:#55DD55;
}

button.profile{
  background-color: #EEE;
  border-width: medium;
  border-style: ridge;
  border-color: #55D;
  font-size: 150%;
  text-shadow:
    1px 1px 0 #555,
    1px 1px 0 #555,
    1px 1px 0 #555,
    1px 1px 0 #555;
  color:#55D;
}

button.laugh2{
  background-color: #EEE;
  border-width: medium;
  border-style: ridge;
  border-color: #55DD55;
  font-size: 200%;
  text-shadow:
    1px 1px 0 #555,
    1px 1px 0 #555,
    1px 1px 0 #555,
    1px 1px 0 #555;
  color:#55DD55;
}

button.motivate2{
  background-color: #EEE;
  border-width: medium;
  border-style: ridge;
  border-color: #EEDD55;
  font-size: 200%;
  text-shadow:
    1px 1px 0 #555,
    1px 1px 0 #555,
    1px 1px 0 #555,
    1px 1px 0 #555;
  color:#EEDD55;
}

iframe.motivate{
  border: 0px;
  box-shadow: 0px 0px 50px rgba(238, 221, 85, 0.5);
}

iframe.laugh{
  border: 0px;
  box-shadow: 0px 0px 50px rgba(85, 221, 85, 0.5);
}

img.laugh{
  border: 0px;
  box-shadow: 0px 0px 50px rgba(85, 221, 85, 0.5);
}

img.feelings{
  width: 100px;
  height: 100px;
  border: 0px;
  box-shadow: 0px 0px 50px rgba(85, 85, 221, 0.5);
}

img.profile{
  border: 0px;
  box-shadow: 0px 0px 50px rgba(85, 85, 221, 0.5);
}

img.about{
  border: 0px;
  box-shadow: 0px 0px 50px rgba(184, 77, 219, 0.5);
  margin-bottom: -25px;
}

img.motivate{
  border: 0px;
  box-shadow: 0px 0px 50px rgba(238, 221, 85, 0.5);
}

textarea{
  border: 0px;
  box-shadow: 0px 0px 50px rgba(238, 170, 85, 0.5);
}

form.post{
  font-size: 200%;
  -webkit-text-stroke-width: .5px;
  -webkit-text-stroke-color: #EEAA55;
  text-shadow:
    1px 1px 0 #555,
    1px 1px 0 #555,
    1px 1px 0 #555,
    1px 1px 0 #555;
}

form.comment{
  font-size: large;
  color: #EEAA55;
  text-shadow:
    1px 1px 0 #555,
    1px 1px 0 #555,
    1px 1px 0 #555,
    1px 1px 0 #555;
}

p.sally{
  color: #EEAA55;
  margin-top: -25px;
  text-shadow:
    1px 1px 0 #555,
    1px 1px 0 #555,
    1px 1px 0 #555,
    1px 1px 0 #555;
}

p.motivate{
  color: #EEDD55;
  margin-top: -25px;
  text-shadow:
    1px 1px 0 #555,
    1px 1px 0 #555,
    1px 1px 0 #555,
    1px 1px 0 #555;
  font-size: 125%;
}

p.about{
  color: #B84DDB;
  margin-top: -25px;
  text-shadow:
    1px 1px 0 #555,
    1px 1px 0 #555,
    1px 1px 0 #555,
    1px 1px 0 #555;
  font-size: 150%;
}
p.credit{
  color: #B84DDB;
  margin-top: -25px;
  text-shadow:
    1px 1px 0 #555,
    1px 1px 0 #555,
    1px 1px 0 #555,
    1px 1px 0 #555;
  text-align: left;
  font-size: large;
}
span{
  color: #FFF;
  margin-top: -25px;
  -webkit-text-stroke-width: .5px;
  -webkit-text-stroke-color: #B84DDB;
  text-shadow:
    1px 1px 0 #555,
    1px 1px 0 #555,
    1px 1px 0 #555,
    1px 1px 0 #555;
  font-size: 150%;
}
ul.about{
  text-align: left;
  color: #B84DDB;
  margin-top: -25px;
  white-space: pre-line;
  text-shadow:
    1px 1px 0 #555,
    1px 1px 0 #555,
    1px 1px 0 #555,
    1px 1px 0 #555;
}
ul.about li{
  color: #B84DDB;
  margin-top: -25px;
  text-shadow:
    1px 1px 0 #555,
    1px 1px 0 #555,
    1px 1px 0 #555,
    1px 1px 0 #555;
}

p.motivate a{
  color: #555;
  margin-top: -25px;
  text-shadow:
    -1px 0px 0 #EEDD55,
    0px 1px 0 #EEDD55,
    1px 0px 0 #EEDD55,
    0px -1px 0 #EEDD55;
  font-size: 150%;
  text-decoration: none;
}

dl dt.tqpQuote{
  text-decoration: none;
  color: #555;
  border: 0;
  box-shadow: inset 0px 0px 50px 50px rgba(238, 221, 85, 0.5);
  text-shadow:
    1px 1px 0 #FFF,
    1px 1px 0 #FFF,
    1px 1px 0 #FFF,
    1px 1px 0 #FFF;
  font-size: large;
  font-size: 130%;
}

dl dd a{
  text-decoration: none;
  color: #FFF;
  border: 0;
  box-shadow: 0px 0px 10px 10px rgba(238, 221, 85, 0.5);
  font-size: small;
  text-shadow:
    -1px 0px 0 #555,
    0px 1px 0 #555,
    1px 0px 0 #555,
    0px -1px 0 #555;
}

span.tqpFooter{
  text-decoration: none;
  color: #555;
  text-shadow:
    -1px 0px 0 #EEDD55,
    0px 1px 0 #EEDD55,
    1px 0px 0 #EEDD55,
    0px -1px 0 #EEDD55;
}
span.tqpFooter a{
  text-decoration: none;
  color: #555;
  text-shadow:
    -1px 0px 0 #EEDD55,
    0px 1px 0 #EEDD55,
    1px 0px 0 #EEDD55,
    0px -1px 0 #EEDD55;
}

input.sally{
  -webkit-text-stroke-width: .5px;
  -webkit-text-stroke-color: #EEAA55;
  border-style: ridge;
  border-width: medium;
  border-color: #EEAA55;
  font-size: large;
  color: white;
  text-shadow:
    1px 1px 0 #555,
    1px 1px 0 #555,
    1px 1px 0 #555,
    1px 1px 0 #555;
    background-color: white;
}

ul#question{
  top: 800;
  position: relative;
  font-size: 150%;
  -webkit-text-stroke-width: .5px;
  -webkit-text-stroke-color: #333;
  text-align: left;
  text-decoration: none;
  color: #DD5555;
}

ul#question li a{
  text-decoration: none;
  font-size: 150%;
  -webkit-text-stroke-width: .5px;
  -webkit-text-stroke-color: #DD5555;
  text-shadow:
    1px 1px 0 #555,
    1px 1px 0 #555,
    1px 1px 0 #555,
    1px 1px 0 #555;
  color: white;
}

.nav ul {
    list-style-type: none;
    margin: 0;
    top: 600px;
    overflow: hidden;
    position:absolute;
    /*border-radius: 10px;*/
    margin-left: -43px;
}

.nav li {
    float: left;
    width: 194.5px;
    font-weight: bold;
    color: white;
    background-color: #BFE;
    text-align: center;
    padding: 0px;
    padding-top: 5px;
    padding-bottom: 5px;
    text-decoration: none;
    margin-left: 0px;
    text-transform: uppercase;
    border-style: ridge;
    border-color: #133;
    border-width: 3px;
    text-shadow:
      2.5px 2.5px 0 #555,
      2.5px 2.5px 0 #555,
      2.5px 2.5px 0 #555,
      2.5px 2.5px 0 #555;
}

.nav ul li{
  position: relative;
  display: inline-block;
}

.nav ul li a,visited{
  display: block;
}

.nav ul li:hover{
  color: #DFE;
  background-color: #144;
}

/*.nav a:link, a:visited {
    width: 244px;
    font-weight: bold;
    color: #133;
    background-color: #B8E6E6;
    text-align: center;
    padding: 0px;
    padding-top: 5px;
    padding-bottom: 5px;
    text-decoration: none;
    text-transform: uppercase;
    border-style: ridge;
    border-color: #133;
    border-width: 3px;
}

div.nav a:hover, a:active {
    background-color: #199;
}*/
div.nav a:link, a:visited{
  text-decoration: none;
  font-size: 200%;
  color: #FFF;
}

/*div.nav a:hover{
  color: #DFE;
}*/


/*p{
  font-size: 150%;
  background-color: #B8E6E6;
  color: #144;
  width: 900px;
  margin-left: 40px;
  margin-right: 40px;
  padding: 5px;
  border-style: ridge;
  border-width: 10px;
  border-color: #399;
  top: 700px;
  position: absolute;
}*/

/*img{
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  border-style: ridge;
  border-color: #399;
  border-width: 10px;
}*/
img.slideshow{
  position: relative;

}

footer{
  background:black;
  background:rgba(0,0,0,0.4);
  filter: blur(5px);
  right: 0;
  position: relative;
  text-align: right;
  padding: 10px;
  text-shadow:
    1px 1px 0 #555,
    1px 1px 0 #555,
    1px 1px 0 #555,
    1px 1px 0 #555;
}

footer a:link, a:visited{
  text-decoration: none;
  font-size: xx-large;
  color: white;
}

footer a img{
  width: 40px;
  height: 40px;
}

#cont
{
  margin: 0px auto;
  padding: 10px 10px;
}

#left
{
  margin-left: 35px;
  width: 300px;
  height: 320px;

}

#center
{
  width: 300px;
  height: 320px;

}

#right
{
  width: 300px;
  height: 320px;

}

div.pages{
  position: absolute;
  top:50;
  bottom: 100;
  left: 0;
  right: 0;
  margin: auto;
  /*background-image: url("/images/motivation.jpg");*/
  background-position: top right;
  background-repeat: no-repeat;
  background-size: contain;
  /*height: 1500px;*/
  width: 1000px;
  /*-webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  border-radius: 30px;*/
  border-style: ridge;
  border-width: 10px;
  border-color: #555;
  background-color:#EEE;
  /*-webkit-box-shadow: #B3B3B3 5px 5px 5px;
  -moz-box-shadow: #B3B3B3 5px 5px 5px;
  box-shadow: #B3B3B3 5px 5px 5px;*/
  color: white;
  text-align: center;
}
